* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  background-color: #1f2937;
  padding: 32px 192px 96px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header h3,
.header a {
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.header-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.header-subtitle,
.signup-button-primary,
a {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 200;
  margin-top: 8px;
}

.signup-button-primary {
  background-color: #0275d8;
  padding: 4px 32px;
  border-radius: 8px;
  font-weight: 400;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
}

.header-text,
img {
  flex: 1;
}

.information-container {
  background-color: white;
  padding: 64px 192px 96px;
}

.information-title h1 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.information-list {
  display: flex;
  justify-content: center;
}

.information-item {
  flex-wrap: wrap;
  text-align: center;
  width: 160px;
  margin: 32px;
}

.information-image {
  border: 4px solid #0275d8;
  width: 160px;
  height: 160px;
  border-radius: 16px;
}

.information-text {
  color: grey;
  font-size: 16px;
  font-weight: regular;
  margin-top: 8px;
}

.quote-container {
  background-color: #e5e7eb;
  padding: 96px 128px;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-author {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}

.signup-container {
  background-color: white;
  padding: 96px 128px;
}

.signup-content {
  display: flex;
  justify-content: space-between;
  background-color: #3882f6;
  padding: 48px 96px;
  border-radius: 12px;
}

.signup-title {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.signup-subtitle {
  color: white;
  font-size: 18px;
  font-weight: regular;
}

.signup-button-secondary {
  background-color: transparent;
  border-color: white;
  border-radius: 8px;
  padding: 4px 24px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.footer-container {
  background-color: #1f2937;
  padding: 48px;
}

.footer {
  text-align: center;
  color: #f9faf8;
}
